include ../layouts/header.pug
nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="./user") Dashboard
    a(class="navbar" href="./user/create") Create
    a(class="navbar" href="./user/remove") Remove
br

.container
    table.table
        thead
            tr
            th(scope='col') #
            th(scope='col') Name
            th(scope='col') Age
            th(scope='col') Phone number
            th(scope='col') Email
            th(scope='col') Password
        tbody
            -var i = 1
            for user in users
                tr 
                    th(scope="row")= i++
                    td= user.name
                    td= user.age
                    td= user.phoneNumber
                    td= user.email
                    td= user.password